<section class="section-categoryarticles">
<div class="categoryarticles-nav clearfix">
  <h2 class="widget-title">{{category_name }}</h2>
  {{category_linked}}
</div>
  {{categorized_article_listing|raw}}
</section>